<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Rock-Paper-Scissors</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
	<link rel="stylesheet" href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
</head>
<body>
	<div class="container">
		<h1>Welcome to Rock-Paper-Scissors Game</h1>
		<table id="gameTable" class="table">
			<thead>
				<th>Player 1</th>
				<th>Player 2</th>
				<th>Winner</th>
			</thead>
			<tbody id="tBody"></tbody>
		</table>
		<h4>Rounds: <span id="totalRounds" class="badge badge-secondary">0</span></h4>
		<button id="btnPlayRound" type="button" class="btn btn-primary">Play Round</button>
		<button id="btnReset" type="button" class="btn btn-secondary">Reset Game</button>
	</div>
	<footer>
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
			<script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
			<script src="game.js"></script>
			
	</footer>
</body>
</html>